footer footer {
  height: 296px;
  width: 100%;
  border-top: 1px solid #CCC;
  text-align: center;
  color: #8c8c8c; }
  footer footer span {
    margin: 0 18px 0 20px; }
  footer footer p {
    font: 11px/81px "";
    margin-top: 12px; }
    footer footer p a {
      color: #8c8c8c; }
  footer footer div:nth-of-type(1) {
    margin-bottom: 13px; }
  footer footer div:nth-of-type(2),
  footer footer div:nth-of-type(3) {
    font: 11px/20px ""; }
  footer footer div:nth-of-type(4) {
    margin-top: 25px; }
    footer footer div:nth-of-type(4) a {
      margin-right: 5px; }

header #tools {
  height: 34px;
  background: #f9f9f9;
  border-bottom: 2px solid #f2f2f2; }
  header #tools .top-l {
    float: left; }
  header #tools .top-r {
    position: relative;
    float: right;
    padding-right: 5px; }
    header #tools .top-r ul {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 6;
      font: 12px/34px "";
      width: 700px;
      height: 22px; }
      header #tools .top-r ul li {
        position: relative;
        color: #646464;
        float: left;
        font-size: 12px; }
        header #tools .top-r ul li dl.subnav {
          display: none;
          position: absolute;
          top: 34px;
          background: #fff;
          box-shadow: 0 0 1px 1px #ccc; }
          header #tools .top-r ul li dl.subnav dd {
            text-align: center;
            height: 160px;
            width: 210px; }
            header #tools .top-r ul li dl.subnav dd .erweima {
              float: left;
              width: 105px; }
              header #tools .top-r ul li dl.subnav dd .erweima span {
                display: block; }
        header #tools .top-r ul li > i.iconfont {
          font-family: "iconfont" !important;
          font-size: 12px;
          color: #ff5a00; }
        header #tools .top-r ul li > a {
          color: #404040; }
          header #tools .top-r ul li > a:hover {
            color: #ff5a00; }
          header #tools .top-r ul li > a i.iconfont {
            font-family: "iconfont" !important;
            font-size: 10px;
            color: #949493; }
        header #tools .top-r ul li dl dd {
          padding: 0 5px; }
      header #tools .top-r ul li.vcode:hover {
        background: #fff;
        border: 1px solid #ccc; }
        header #tools .top-r ul li.vcode:hover dl {
          display: block; }
      header #tools .top-r ul li.line {
        margin-top: 14.5px;
        width: 1px;
        height: 5px;
        background: #bcbcbc; }
      header #tools .top-r ul li.te {
        border: 1px solid #e6e6e6;
        background: #fff; }
        header #tools .top-r ul li.te dl dd:hover {
          background: #f2f2f2; }
      header #tools .top-r ul li.normal {
        border: 1px solid #f9f9f9; }
      header #tools .top-r ul li.show dl {
        display: none;
        position: relative;
        z-index: 10; }

.margin {
  width: 960px;
  margin: 0 auto; }

#main .ad {
  padding-top: 20px; }
#main .logo_line {
  width: 100%;
  border-bottom: 4px solid #ff2832;
  height: 100px; }
  #main .logo_line .logo {
    float: left;
    padding: 20px 0 0 15px; }
  #main .logo_line .shopping_procedure {
    float: right;
    width: 634px;
    height: 36px;
    background: url("../images/procedure_bg.png") 0 0 no-repeat;
    font: bold 14px/36px "Microsoft Yahei";
    color: #646464;
    margin: 30px 0 0; }
    #main .logo_line .shopping_procedure span {
      width: 211px;
      display: inline-block;
      text-align: center; }
    #main .logo_line .shopping_procedure span.current {
      color: #fff;
      width: 206px; }
#main .add_line {
  width: 100%;
  background-color: #fafafa; }
  #main .add_line .address {
    height: 22px;
    line-height: 22px;
    margin: 15px 0;
    background-color: #fcfcfc;
    border: 1px solid #ebebeb;
    padding: 0 15px;
    border-radius: 12px;
    display: inline-block; }
    #main .add_line .address .icon_adr {
      width: 22px;
      height: 22px;
      background: url("../images/icon_sprite.png") 0 5px no-repeat;
      display: inline-block;
      margin-right: 5px; }
    #main .add_line .address .select_add {
      position: relative;
      display: inline-block;
      z-index: 1003; }
      #main .add_line .address .select_add .text {
        color: #646464;
        border: 1px solid #ebebeb;
        border-width: 0 1px;
        height: 22px;
        line-height: 22px;
        padding: 0 14px 0 5px;
        background: url("../images/icon_sprite.png") no-repeat right -53px #fff;
        cursor: pointer;
        position: relative;
        z-index: 88;
        display: block; }
      #main .add_line .address .select_add .area_pop {
        position: absolute;
        width: 369px;
        border: 1px solid #ebebeb;
        background-color: #fff;
        z-index: 1003;
        padding: 0 2px;
        font-size: 12px;
        top: 22px;
        left: 0; }
      #main .add_line .address .select_add .area_pop .close,
      #main .add_line .address .select_add .coupon_pop .close {
        display: block;
        width: 11px;
        height: 11px;
        background: url("../images/icon_sprite.png") no-repeat -48px 0;
        overflow: auto;
        font-size: 0;
        position: absolute;
        right: 8px;
        top: 8px; }
      #main .add_line .address .select_add .area_pop .tab {
        height: 27px;
        border-bottom: 1px solid #ebebeb; }
      #main .add_line .address .select_add .area_pop .tab li {
        height: 20px;
        float: left;
        margin: 7px 0 -1px 7px;
        padding: 0 6px;
        _display: inline;
        background: #f1f1f1 url("../images/icon_sprite.png") no-repeat right -91px; }
      #main .add_line .address .select_add .area_pop .tab li.choose {
        height: 20px;
        padding: 0 6px;
        border: 1px solid #ebebeb;
        border-bottom: 0;
        background-color: #fff; }
      #main .add_line .address .select_add .area_pop .tab li a,
      #main .add_line .address .select_add .area_pop .tab li a:hover {
        font: 14px/20px "Microsoft Yahei";
        color: #464646;
        display: block;
        margin-right: 12px;
        text-decoration: none;
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap; }
      #main .add_line .address .select_add .area_pop .list {
        padding: 4px 0 8px 17px;
        min-height: 88px;
        _height: expression(this.scrollHeight < 88 ? "88px":"auto"); }
      #main .add_line .address .select_add .area_pop .list li {
        float: left;
        padding-left: 3px;
        line-height: 22px;
        width: 85px;
        overflow: hidden;
        height: 22px; }
      #main .add_line .address .select_add .area_pop .list_notaligned li {
        width: auto;
        _display: inline;
        margin-right: 15px; }
      #main .add_line .address .select_add .area_pop .list a {
        color: #787878;
        text-decoration: none; }
      #main .add_line .address .select_add .area_pop .list a:hover {
        color: #ff2832;
        text-decoration: underline; }
#main a.checknow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #bcbcbc;
  background-color: #fff;
  text-decoration: none;
  border-radius: 3px;
  font-size: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  margin: 0 10px 0 0;
  vertical-align: text-bottom; }
#main a.checknow:hover {
  border-color: #ff2832;
  text-decoration: none; }
#main a.check_on,
#main a.check_on:hover {
  border-color: #ff2832;
  background: #ff2832 url("../images/icon_sprite.png") no-repeat -65px -1px; }
#main a.check_de,
#main a.check_de:hover {
  border-color: #ccc;
  background: #eee;
  cursor: default; }
#main .shopping_title {
  color: #323232;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  margin: 10px 0;
  padding-left: 15px; }
  #main .shopping_title li {
    float: left;
    text-align: left;
    width: 150px; }
  #main .shopping_title .f1 {
    width: 202px; }
  #main .shopping_title .f2 {
    width: 280px; }
  #main .shopping_title .f3 {
    width: 130px; }
  #main .shopping_title .f4 {
    width: 130px; }
  #main .shopping_title .f5 {
    width: 70px; }
#main .shoppping_title a {
  color: #323232; }
#main .shop_icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../images/icon_sprite.png") 0 -30px no-repeat;
  margin: 0 6px 0 0; }
#main .store_o {
  background-position: -18px -30px; }
#main .store_h {
  background-position: -36px -30px; }
#main .store_e {
  background-position: -54px -30px; }
#main .store_c {
  background-position: -42px -210px; }
#main .cse {
  display: inline-block;
  width: 28px;
  height: 24px;
  padding-left: 20px; }
#main .shopping_list {
  width: 958px;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
  margin-bottom: 40px; }
#main .shopping_list td {
  vertical-align: top;
  padding-top: 15px;
  position: relative;
  line-height: 22px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4; }
#main .shopping_list td span {
  display: block; }
#main .shopping_list .row1 {
  padding: 0 0 0 10px;
  width: 42px;
  vertical-align: middle;
  border-bottom: 0; }
#main .shopping_list .row_img {
  padding: 20px 20px 20px 0;
  width: 80px;
  border-bottom: 0;
  position: relative;
  z-index: 9;
  font-size: 0;
  line-height: 0; }
#main .shopping_list .row_img .img_big {
  display: none;
  padding: 9px;
  position: absolute;
  z-index: 100;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  left: 100px;
  top: 0; }
#main .shopping_list .row_img .img_big .arrow {
  width: 8px;
  height: 15px;
  display: block;
  background: url("../images/icon_sprite.png") -18px -250px no-repeat;
  position: absolute;
  top: 52px;
  left: -7px; }
#main .shopping_list .row_name {
  width: 330px;
  line-height: 18px;
  text-align: left;
  position: relative;
  padding-top: 17px; }
#main .shopping_list .row_name .name {
  display: block;
  width: 100%;
  height: 36px;
  overflow: hidden;
  margin-bottom: 27px; }
#main .shopping_list .row_name .name a {
  color: #323232; }
#main .shopping_list .row_name .name a:hover {
  color: #ff2832; }
#main .shopping_list .row_name .num {
  position: absolute;
  left: 0;
  top: 54px;
  color: #323232; }
#main .shopping_list td .red {
  color: #ff2832; }
#main .shopping_list .low_price {
  background-color: #ff2832;
  color: #fff;
  text-align: center;
  position: relative;
  width: 76px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  z-index: 99; }
#main .shopping_list .low_price em {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url("../images/pop_gift.png") -29px -152px no-repeat; }
#main .shopping_list .low_price em.up {
  background-position: -39px -152px; }
#main .shopping_list .low_pop {
  width: 250px;
  border: 1px solid #ff2832;
  padding: 6px 6px 6px 8px;
  line-height: 22px;
  color: #787878;
  position: absolute;
  background-color: #fff;
  text-align: left;
  left: 0;
  top: 22px;
  z-index: 99; }
#main .shopping_list .amount {
  border: 1px solid #dcdcdc;
  height: 28px;
  width: 94px;
  line-height: 28px;
  font-size: 14px;
  margin: 5px auto;
  overflow: hidden; }
#main .shopping_list .amount.red {
  border-color: #ff2832; }
#main .shopping_list .amount a {
  display: block;
  float: left;
  height: 28px;
  width: 28px;
  background-color: #f4f4f4; }
#main .shopping_list .amount a:hover {
  text-decoration: none;
  background-color: #fff5f5; }
#main .shopping_list .amount a.default,
#main .shopping_list .amount a.default:hover {
  color: #d2d2d2;
  text-decoration: none;
  cursor: default;
  background-color: #f4f4f4; }
#main .shopping_list .amount input {
  width: 36px;
  height: 28px;
  line-height: 28px\9;
  float: left;
  padding: 0;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-width: 0 1px;
  background-color: #fff;
  font-weight: bold; }
#main .shopping_list .amount_e {
  border: none 0;
  margin: 0 auto; }
#main .shopping_list .row4 {
  color: #323232; }
#main .shopping_list tr.none td {
  background-color: #eee; }
#main .shopping_list tr.none .oos {
  width: 32px;
  height: 22px;
  line-height: 22px;
  color: #4e4e4e;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  background-color: #ccc;
  margin-right: 10px; }
#main .shopping_list a.more {
  color: #1a66b3; }
#main .shopping_list .swatchsize {
  height: 20px;
  line-height: 20px;
  border: 1px dotted #dcdcdc;
  margin-bottom: 10px; }
#main .shopping_list .swatchsize em {
  font-style: normal;
  padding-left: 10px; }
#main .shopping_list .swatchsize .btn {
  margin: 1px;
  width: 36px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  background-color: #d2d2d2;
  color: #fff;
  display: block;
  float: right; }
#main .shopping_list .swatchsize:hover {
  border-color: #ff2832; }
#main .shopping_list .swatchsize.hover .btn:hover,
#main .shopping_list .swatchsize:hover .btn {
  background-color: #ff2832;
  text-decoration: none; }
#main .shopping_list .price_tip {
  font: 12px/18px "SimSun";
  color: #646464;
  margin: 10px 0 20px;
  border: 1px solid #ffecec;
  border-radius: 2px;
  background-color: #fff5f5; }
#main .shopping_list .price_tip span {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  display: inline-block;
  background: url("../images/icon_sprite.png?v=20160126") -60px -208px no-repeat;
  vertical-align: top;
  *vertical-align: middle; }
#main .shopping_list .bb_none td {
  border-bottom: none 0; }
#main .shopping_list .total td {
  border-bottom: none 0;
  border-top: 1px solid #dcdcdc; }
#main .shopping_list .total td.row_img {
  text-align: center;
  color: #323232;
  font-weight: bold;
  line-height: 22px;
  font-size: 12px;
  padding: 15px 20px 15px 0; }
#main .shopping_list .total td.intro {
  padding: 15px 20px;
  text-align: left; }
#main .shopping_list .total td.intro .all {
  height: 22px;
  overflow: hidden;
  width: 420px;
  white-space: nowrap;
  text-overflow: ellipsis; }
#main .shopping_list .total td.row4 {
  text-align: right;
  line-height: 18px;
  position: relative;
  padding-top: 10px; }
#main .shopping_list .total td.row4 .alignright {
  padding-right: 144px; }
#main .shopping_list .total td.row4 .save {
  color: #969696; }
#main .shopping_list .total td.row4 .save em {
  font-style: normal;
  text-decoration: line-through;
  padding-left: 5px; }
#main .shopping_list .total td.row4 .big {
  font-size: 16px; }
#main .shopping_list .total td.row4 .big.ooline {
  padding-top: 8px; }
#main .shopping_list .total td.row4 .btn_red {
  position: absolute;
  font-weight: bold;
  right: 10px;
  top: 10px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  width: 106px;
  text-align: center;
  background-color: #ff2832;
  border-radius: 3px;
  font-size: 14px; }
#main .shopping_list .total td.row4 .btn_red:hover {
  text-decoration: none;
  background-color: #f00; }
#main .shopping_list .total td.row4 .unable,
#main .shopping_list .total td.row4 .unable:hover {
  cursor: default;
  background-color: #e1e1e1; }
#main .shopping_list .total td.row4 .shipping_tip {
  position: absolute;
  left: -66px;
  top: 18px; }
#main .shopping_list .total td.row4 .shipping_tip .more {
  padding: 0 8px 0 4px;
  background: url("../images/pop_shipping.png") 65px 7px no-repeat; }
#main .shopping_list .total td.row4 .shipping_tip .more.up {
  background-position: 65px -11px; }
#main .shopping_list .total td.row4 .shipping_tip .more:hover {
  text-decoration: none; }
#main .shopping_list .ebtn {
  padding: 0 16px 0 6px;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  color: #fff;
  border-radius: 2px;
  background: url("../images/icon_sprite.png") right -177px no-repeat #f66; }
#main .shopping_list .ebtn.down {
  background-position: right -155px; }
#main .shopping_list .ebtn:hover {
  text-decoration: none; }
#main .shopping_list .eblue {
  background-color: #54d1ff; }
#main .shopping_list .egreen {
  background-color: #52c89b; }
#main .shopping_list .eyellow {
  background-color: #fca646; }
#main .shopping_list .ered {
  background-color: #ff2832;
  padding: 0 6px;
  background-image: none; }
#main .shopping_list .set_box {
  padding-top: 0; }
#main .shopping_list .set_list {
  margin-bottom: 15px; }
#main .shopping_list .set_list .row3,
#main .shopping_list .set_list .row4,
#main .shopping_list .set_list .row_name {
  background-color: #fff; }
#main .shopping_list .set_list .goods {
  float: left;
  display: block;
  padding: 0 10px 10px; }
#main .shopping_list .set_list .name {
  width: 230px;
  color: #969696; }
#main .shopping_list .through {
  text-decoration: line-through; }
#main .shopping_list .price_n {
  color: #323232;
  font-size: 13px; }
#main .shopping_list .set_list .row5 {
  border-bottom: none 0; }
#main .shopping_list td.n_set {
  border: 1px solid #e4e4e4;
  border-width: 0 1px;
  margin: 0 -1px; }
#main .shopping_list td.n_setr {
  border-width: 0 0 0 1px;
  margin: 0 0 0 -1px; }
#main .shopping_list .n_set_total .event_box {
  background-color: #fff5f4;
  padding: 5px 0 0;
  height: 45px;
  position: static; }
#main .shopping_list .n_set_total .n_total {
  float: right;
  padding-right: 120px;
  text-align: right; }
#main .shopping_list .n_set_total .n_total .ooline {
  padding-top: 10px; }
#main .shopping_list .n_set_total .n_total em {
  font-style: normal;
  padding-left: 5px; }
#main .shopping_list .n_set_total .event_box p {
  padding: 10px 0 0 10px; }
#main .shopping_list .n_set_total .row_img {
  background-position: 40px -274px; }
#main .shopping_list .n_set_total .tree_icon {
  top: 21px; }
#main .shopping_list .bb_none2 .event_box {
  border: none 0; }
#main .shopping_list .event_box {
  padding: 0; }
#main .shopping_list .event_box .event {
  text-align: left;
  color: #4f4f4f; }
#main .shopping_list .event_box .event_list {
  width: 768px;
  background-color: #fff;
  padding: 8px 13px 8px 15px;
  margin: 10px 0 18px; }
#main .shopping_total {
  width: 960px;
  height: 72px;
  z-index: 10;
  margin: 20px auto;
  padding: 0 62px;
  background: url("../images/shopping_total.png") 0px center no-repeat;
  position: relative; }
#main .shopping_total .shopping_total_left {
  float: left;
  line-height: 58px;
  width: 430px;
  position: relative; }
#main .shopping_total .shopping_total_left a {
  margin-left: 28px; }
#main .shopping_total .shopping_total_left a.checknow {
  margin: 0 6px 0 0; }
#main .shopping_total .shopping_total_left span {
  margin-left: 80px; }
#main .shopping_total .shopping_total_right {
  float: right;
  margin: 18px 0 0;
  width: 530px;
  position: relative; }
#main .shopping_total .total_btn {
  float: right;
  display: block;
  width: 116px;
  height: 38px;
  font: bold 18px/38px "Microsoft Yahei";
  color: #fff;
  background-color: #ff2832;
  border-radius: 2px;
  text-align: center;
  margin-top: 4px; }
#main .shopping_total .total_btn:hover {
  text-decoration: none;
  background-color: #F00; }
#main .shopping_total .unable,
#main .shopping_total .unable:hover {
  cursor: default;
  background-color: #e1e1e1; }
#main .shopping_total .subtotal {
  padding-right: 30px;
  line-height: 24px;
  float: right; }
#main .shopping_total .subtotal span {
  display: inline-block; }
#main .shopping_total .subtotal .cartsum {
  width: 114px;
  text-align: right;
  padding: 0 8px 0 0; }
#main .shopping_total .subtotal .price {
  font-size: 18px;
  color: #ff2832; }
#main .fixed_total {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -542px; }

/*# sourceMappingURL=cart.css.map */
