footer {
    height: 296px;
    width: 100%;
    border-top: 1px solid #CCC;
    text-align: center;
    color: #8c8c8c;
    span {
        margin: 0 18px 0 20px;
    }
    p {
        font: 11px/81px "";
        margin-top: 12px;
        a {
            color: #8c8c8c;
        }

    }
    div:nth-of-type(1) {
        margin-bottom: 13px;
    }
    div:nth-of-type(2),
    div:nth-of-type(3) {
        font: 11px/20px "";
    }
    div:nth-of-type(4) {
        margin-top: 25px;
        a {
            margin-right: 5px;
        }
    }

}